{% extends 'base.html' %}

{% block title %}
<title>Board</title>
{% endblock title%}

{% block body %}
<p>This is board.html</p>

<form id="search_field">
    <label for="order">Order</label>
    <select name="order" id="order">
        <option value="desc" selected>내림차순</option>
        <option value="asce">오름차순</option>
    </select>
    <select name="criteria" id="criteria">
        <option value="head">제목</option>
        <option value="content">내용</option>
        <option value="author">글쓴이</option>
        <option value="registdt">작성일</option>
    </select>
    <label for="limit">Limit</label>
    <select name="limit" id="limit">
        <option value="20" selected>20</option>
        <option value="50">50</option>
        <option value="100">100</option>
    </select>
    <label for="order_by">Order_by</label>
    <select name="order_by" id="order_by">
        <option value="head" selected>제목</option>
        <option value="content">내용</option>
        <option value="author">글쓴이</option>
        <option value="registdt">생성일</option>
    </select>
    <input type="hidden" name="offset" id="offset" value="0">
    <input type="search" name="search" id="search">
    <input type="submit" value="검색" onclick="return gw()">
</form>
{% if result %}
    {{ result.count, result.page }}
    {% set data = result.result %}
    {% for datum in data %}
        <div>
            <dl>
                <a href="{{url_for('bd.draw_post',postno=datum.id)}} ">
                <dt>제목 | {{ datum.head }} --------------- by {{ datum.author }}</dt></a>
                <dd>{{ datum.content }}</dd>
            </dl>
        </div>
    {% endfor %}
{% endif %}

<div>
    {% set s = (result.page / 10) | int %}
    {% set e = (s * 10) + 11 %}
    {% set p = result.page + 1 %}
    {{result.page, s, e, p}}
    
    {% if p == 0 %}
    <a href='javascript:void(0);' onclick="on_move_page();"><input type="button" value="<-" disabled></a>
    {% else %}    
    <a href='javascript:void(0);' onclick="on_move_page(event);"><input type="button" name="previous" value="<-"></a>
    {% endif %}
    
    {% for i in range(s * 10 + 1, e)%}
    {% if i == p %}
    <span>현재 페이지 -> </span>
    {% endif %}
    <a href='javascript:void(0);' onclick="on_move_page(event);"><input type="button" value="{{i}}"></a>
    {% endfor %}
    
    {% if p == result.count %}
    <a href='javascript:void(0);' onclick="on_move_page();"><input type="button" value="----" disabled></a>
    {% else %}
    <a href='javascript:void(0);' onclick="on_move_page(event);"><input type="button" name="next" value="->"></a>
    {% endif %}


</div>
{% endblock body %}

{% block script %}
<script>
function gw(){
    var $search = document.getElementById('search').value;
    if ($search != '' && !$search.endsWith('%')){
        document.getElementById('search').value = '%'.concat($search, '%');
    }
}

function on_move_page(page){
    console.log(">>>>>>>>>> event.target from  ", event.target.name);
    console.log(">>>>>>>>>> event.srcElement from  ", event.srcElement.name);
    console.log(">>>>>>>>>> event.currentTarget from  ", event.currentTarget.name);
    console.log(">>>>>>>>>> event.srcElement from  ", event.srcElement.value);
    console.log("on_move_page()on_move_page()on_move_page()on_move_page() ", page);

    if (event.target.name == "next"){
        _param = location.search;
        console.log("_param_param_param_param_param_param_param ", _param)
        if(!_param){
            location.href = location.origin + location.pathname + "?offset=1"
        }
        var _present_offset = _param.match(/offset=(.*[0-9])/)[1];
        _present_offset += 1;
        _param = _param.replace(_param.match(/offset=.*[0-9]/)[0], "offset="+_present_offset);
        location.href = location.origin + location.pathname + _param;
        
    }else if(event.target.name == "previous"){
        _param = location.search;
        var _present_offset = _param.match(/offset=(.*[0-9])/)[1];
        _present_offset -= 1;
        _param = _param.replace(_param.match(/offset=.*[0-9]/)[0], "offset="+_present_offset);
        location.href = location.origin + location.pathname + _param;
    }
    
}


</script>
{% endblock  script %}