{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock title%}

{% block body %}
<p>this is login.html</p>

<form name="login-form" 
    {% if next %}
    action="/auth/login?next={{next}}"
    {% else %}
    action="/auth/login" 
    {% endif %}
    method="post" onsubmit="return gw()">
    <div id="id_area">
        <label for="ID">ID</label>
        <input type="text" name="id" id="id">
        <p style="color:red; display:none;" id="id_blank">ID를 입력해주세요.</p>
    </div>
    <div id="password_area">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <p style="color:red; display:none;" id="password_blank">Password를 입력해주세요.</p>
    </div>
    {% if result == 'not found' %}
    <p style="color:red">가입하지 않은 아이디이거나, 잘못된 비밀번호입니다.</p>
    {% endif %}
    <button type="reset">Reset</button>
    <button type="submit">Submit</button>
</form>

<div>
    <a href="/help" target="_blank" rel="noopener noreferrer"><p>ID 찾기</p></a>
    <a href="/help" target="_blank"><p>Password 찾기</p></a>
    <a href="/help" target="_blank"><p>회원가입</p></a>
</div>
{% endblock body %}

{% block script %}
<script>
function gw(){
    if(!!check_form()){
        return true
    }
    return false
}

function check_form(){
    var id = document.getElementById('id').value;
    var pw = document.getElementById('password').value;
    var id_blank = document.getElementById('id_blank')
    var password_blank = document.getElementById('password_blank')
    
    if(!id && !pw){
        id_blank.style.display = 'block';
        password_blank.style.display = 'none';
    }else if(!id && !!pw){
        id_blank.style.display = 'block';
        password_blank.style.display = 'none';
    }else if(!!id && !pw){
        password_blank.style.display = 'block';
        id_blank.style.display = 'none';
    }else{
        return true;
    }

    return false;
}
</script>
{% endblock script %}