{% extends 'base.html' %}

{% block title %}
<title>Post</title>
{% endblock title%}

{% block body %}
<p>This is post.html</p>

{% if result %}
<dl>
    <dt>제목 | {{ result.head }}</dt>
    <dd>{{ result.content }}</dd>
</dl>
    {% if result.result != None %}
    <input type="hidden" name="postno" id="postno" value="{{result.id}}">
    <a href="{{url_for('bd.draw_write',postno=result.id)}}"><input type="button" value="수정"></a>
    {% endif %}
{% endif %}
{% endblock body %}


{% block script %}
<script>

</script>
{% endblock script %}