    {% extends 'base.html' %}

{% block test %}
<title>Test</title>
{% endblock test %}

{% block body %}
<p>This is test.html</p>

{% for i in range(0,5) %}
<p>{{i}}</p>
{% endfor %}


<form action="/board/1" method="get"><button type="submit" value="s"></button></form>

<select name="criteria" id="criteria">
    <option value="head">head</option>
    <option value="content">content</option>
    <option value="author">author</option>
</select>

<form>
    <input type="text" name="head" id="head" value="글1입니다.">
    <input type="text" name="content" id="content" value="&lt;p>글1의 본문이 수정되었습니다.&lt;/p>">
    <button value="s" onclick="return gw()">post</button>
</form>
<p id="result"></p>
<button onclick="_ajax('/board/', data={'head':'새로운 글4입니다.', 'content' : '새로운 글4의 내용입니다.'}, 'POST', function (res){ console.log('=====> res ' + res);
console.log('======= res[result] ', typeof(res))
if(res['result']=='로그인이 필요합니다.'){
    alert('로그인이 필요합니다.');
    window.location='http://localhost:5000/auth/login';
}
});
">CREATE</button>
<button onclick="return gw()">UPDATE</button>
<button onclick="_ajax('/board/8', data=null, 'DELETE');">DELETE</button>
{% endblock body %}

{% block script %}
<script>
function gw(){
    var data = { "head" : document.getElementById('head').value,
                "content" : document.getElementById('content').value };
    
    _ajax(url='/board/1', data, 'POST', function(res) {
        console.log("===================>>>>>> res ", res);
    });
}

function _ajax(url, data, method='GET', fn, dataType="application/json"){
    (function (){   // IIFE
        var req = new XMLHttpRequest();
        req.open(method, url);
        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        req.onreadystatechange = function () { 
            if (req.readyState === 4 && req.status === 200) { 
                result.innerText = this.responseText; 
                if(!!fn){
                    fn(this.response);
                }
            } 
        }; 

        if(dataType=="application/json"){
            data = JSON.stringify(data);
        }
        req.send(data);
    })();
}
</script>
{% endblock script %}