{% extends 'base.html' %}

{% block title %}
<title>Write</title>
{% endblock title %}

{% block body %}
<p>This is Write.html</p>

{% if result.result != None %}
    <form action="" id="texteditor" name="texteditor" method='POST'>
        <input type="text" id="head" name="head" value="{{result.head}}">
        <textarea name="content" id="content" cols="30" rows="10">{{result.content}}</textarea>
        <input type="hidden" name="postno" id="postno" value="{{result.id}}">
        <input type="button" value="post_update" name="post_update" onclick="gw(event)">
        <input type="button" value="post_delete" name="post_delete" onclick="gw(event)">
    </form>
{% else %}
    <form action="http://localhost:5000/w" id="texteditor" name="texteditor" method='POST'>
        <input type="text" id="head" name="head">
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <input type="button" value="post_create" name="post_create" onclick="gw(event)">
    </form>
{% endif %}
{% endblock body %}

{% block script %}
<script>
function gw(event) {
    console.log(">>>>>>>>>> event.target from  ", event.target.name);
    console.log(">>>>>>>>>> event.srcElement from  ", event.srcElement.name);
    console.log(">>>>>>>>>> event.currentTarget from  ", event.currentTarget.name);

    _postno = document.getElementById('postno').value;
    if(event.target.name == 'post_update'){
        document.getElementById('texteditor').action = '/board/post/u/'.concat(_postno);
        document.getElementById('texteditor').submit();
    }else{
        _isYes = window.confirm('Are you sure?')
        if(_isYes){
            document.getElementById('texteditor').action = '/board/post/d/'.concat(_postno);
            document.getElementById('texteditor').submit();
        }
    }
}
</script>
{% endblock script %}