{% extends 'base.html' %}

{% block title %}
<title>Write</title>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.15/dist/summernote-lite.min.js"></script>

{% endblock title %}

{% block body %}
<p>This is Write.html</p>

{% if result.result == "OK" %}
    <form action="" id="texteditor" name="texteditor" method='POST'>
        <label for="head">제 목 | </label>
        <input type="text" id="head" name="head" value="{{result.data.head}}">
        <br />
        <textarea name="content" id="content" cols="30" rows="10">{{result.data.content}}</textarea>
        <div id="count">
            <span id="present">0</span> / <span id="total">0</span>
        </div>
        <input type="button" name="pre" value="이전" onclick="gw(event)">
        <input type="button" name="next" value="다음" onclick="gw(event)">
        <input type="button" name="tmpSave" value="임시저장" onclick="gw(event)">
        <input type="hidden" name="postno" id="postno" value="{{result.data.id}}">
        <br />
        <input type="button" value="post_update" name="post_update" onclick="gw(event)">
        <input type="button" value="post_delete" name="post_delete" onclick="gw(event)">
    </form>
{% else %}
    <form action="http://localhost:5000/w" id="texteditor" name="texteditor" method='POST'>
        <label for="head">제 목 | </label>
        <input type="text" id="head" name="head">
        <br />
        <textarea name="content" id="content" cols="30" rows="10"></textarea>
        <div id="count">
            <span id="present">0</span> / <span id="total">0</span>
        </div>
        <input type="button" name="pre" value="이전" onclick="gw(event)">
        <input type="button" name="next" value="다음" onclick="gw(event)">
        <input type="button" name="tmpSave" value="임시저장" onclick="gw(event)">
        <input type="hidden" name="postno" id="postno" value="{{result.id}}">
        <br />

        <input type="button" value="post_create" name="post_create" onclick="gw(event)">

    </form>

    <div id="summernote"></div>
    <script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    //   get content in summernote
    //   var markupStr = $('#summernote').summernote('code');
    //   set content to summernote
    //   $('#summernote').summernote('code', markupStr);
    </script>

{% endif %}
{% endblock body %}

{% block script %}
<script>
var tmp_save_list = [];

function gw(event) {
    console.log(">>>>>>>>>> event.target from  ", event.target.name);
    console.log(">>>>>>>>>> event.srcElement from  ", event.srcElement.name);
    console.log(">>>>>>>>>> event.currentTarget from  ", event.currentTarget.name);
    var target = event.target.name;

    _postno = document.getElementById('postno').value;
    if(target == 'post_update'){
        document.getElementById('texteditor').action = '/board/post/u/'.concat(_postno);
        document.getElementById('texteditor').submit();
    }else if(target == 'post_delete'){
        _isYes = window.confirm('Are you sure?')
        if(_isYes){
            document.getElementById('texteditor').action = '/board/post/d/'.concat(_postno);
            document.getElementById('texteditor').submit();
        }
    }else if(target == 'tmpSave'){
        (function (){
            var tmp_content = document.getElementById('content').value;
            if(!tmp_content){
                alert('저장할 내용이 없습니다.');
            }else{
            var _present = document.getElementById('present').innerText;
            _present *= 1;
            if(tmp_save_list.length >= 5){
                tmp_save_list.splice(0,1)
            }       
            tmp_save_list.push(tmp_content);
            var _total = tmp_save_list.length;
            if(_total < 6){
                ++_present
                if(_present > 5){
                    _present = 5;
                }
                document.getElementById('present').innerText = _present;
                document.getElementById('total').innerText = _total;
            }
        }
        })()
    }else{
        var _present = document.getElementById('present').innerText;
        _present *= 1;
        if(target == 'pre'){
            --_present;
            if(_present == 0){
                alert("이전 버전이 없습니다.")
            }else{
                    if(_present < 0){
                    _present = 1;
                }
                document.getElementById('content').value = tmp_save_list[_present - 1];
                document.getElementById('present').innerText = _present;
            }
        }else{
            ++_present;
            if(_present > (tmp_save_list.length)){
                alert("다음 버전이 없습니다.")
            }else{
                if(_present == 5){
                    _present = 5;
                }
                document.getElementById('content').value = tmp_save_list[_present - 1];
                document.getElementById('present').innerText = _present;
            }
        }
    }
}
</script>
{% endblock script %}