{% extends 'base.html' %}

{% block title %}
<title>Regist</title>
{% endblock title %}

{% block body %}
<p>this is regist.html</p>
<form name="regist-form" method="POST" action="/auth/regist" onsubmit="return gw()">
    <label for="userid">User ID</label>
    <input type="text" name="userid" id="userid">
    <label for="username">User Name</label>
    <input type="text" name="username" id ="username" autocomplete="username">
    <label for="password1">Password1</label>
    <input type="password" name="password1" id="password1" autocomplete="current-password">
    <label for="password2">Password2</label>
    <input type="password" name="password2" id="password2" autocomplete="current-password">    
    <button>Submit</button>
</form>
{% endblock body %}

{% block script %}
<script>
    
function gw(){
    if(!!check_form()){
        return true
    }
    return false
}

function char_valid(str , spc = false, kor = false){
    var check_num = /[0-9]/; 
    var check_eng = /[a-zA-Z]/; 
    var check_spc = /[~!@#$%^&*()_+|<>?:{}]/;
    var check_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

    if(!spc && !kor){   //  특수문자, 한글이 없어야 함.
        if(check_num.test(str) && check_eng.test(str) && !check_spc.test(str) && !check_kor.test(str)){
            return true;
        };
    }else if(!spc && kor){  // 특수문자는 없고, 한글은 있어도 됨.
        if(check_num.test(str) && check_eng.test(str) && !check_spc.test(str)){
            return true;
        };
    }else if(spc && !kor){  // 특수문자도 되고, 한글은 없어야 함. for 패스워드
        if(check_num.test(str) && check_eng.test(str) && check_spc.test(str) && !check_kor.test(str)){
            return true;
        };
    }else{  // 특수문자, 한글가 있어도 됨.
        if(check_num.test(str) && check_eng.test(str)){
            return true;
        };
    };

    return false;
}

function check_form(){
    var data = { 'userid' : document.getElementById('userid').value,
                'username' : document.getElementById('username').value,
                'password1' : document.getElementById('password1').value,
                'password2' : document.getElementById('password2').value
    };
    var msg;
    var valid = true;

    for(var datum in data){
        if(datum=='userid'){
            if(!!data[datum]){
                if(data[datum].length > 4 && data[datum].length < 13){
                    if(char_valid(data[datum])){
                        continue;
                    }else{
                        valid = false;
                        msg = "ID에는 영어와 숫자로 구성해야 합니다."
                        break;
                    };
                }else{
                    valid = false;
                    msg = "ID의 길이는 5~12자이어야 합니다.";
                    break;
                };
            }else{
                msg= "ID를 입력해주세요.";
                break;
            };
        }else if(datum=='username'){
            if(!!data[datum]){
                if(data[datum].length > 3){
                    if(char_valid(data[datum], spc=true, kor=true)){
                        continue;
                    }
                }else{
                    valid = false;
                    msg = "Username의 길이는 최소 4자 이상입니다.";
                    break;
                }
            }else{
                valid = false;
                msg = "Username을 입력해주세요.";
                break;
            }
        }else if(datum=='password1'){
            if(!!data[datum]){
                if(data[datum].length > 7){
                    if(char_valid(data[datum], spc=true)){
                        continue;
                    }else{
                        valid = false;
                        msg = "Password에는 영어, 숫자, 특수문자로 조합되어야 합니다.";
                        break;
                    };
                }else{
                    valid = false;
                    msg = "Password의 길이는 최소 8자 이상입니다.";
                    break;
                };
            }else{
                valid = false;
                msg = "Password를 입력해주세요.";
                break;
            };
        }else{
            if(!!data[datum]){
                if(data[datum] == data.password1){
                    continue;
                }else{
                    valid = false;
                    msg = "Password1과 Password2가 다릅니다.";
                    break;
                };
            }else{
                valid = false;
                msg = "Password2를 입력해주세요.";
                break;
            };
        };
    };

    if(!valid){
        alert(msg);
        return valid;
    }else{
        return valid;
    };
}
</script>
{% endblock script %}