{% extends 'base.html' %}

{% block title %}
<title>Regist</title>
{% endblock title %}

{% block body %}
<p>this is regist.html</p>
<form name="regist-form" method="POST" action="/auth/regist" onsubmit="return gw()">
    <label for="userid">User ID</label>
    <input type="text" name="userid" id="userid">
    <label for="username">User Name</label>
    <input type="text" name="username" id ="username" autocomplete="username">
    <label for="password1">Password1</label>
    <input type="password" name="password1" id="password1" autocomplete="current-password">
    <label for="password2">Password2</label>
    <input type="password" name="password2" id="password2" autocomplete="current-password">    
    <button>Submit</button>
</form>
{% endblock body %}

{% block script %}
<script>
    
function gw(){
    if(!!check_form()){
        return true
    }
    return false
}

function char_valid(str , spc = true, kor = true){
    var check_num = /[0-9]/; 
    var check_eng = /[a-zA-Z]/; 
    var check_spc = /[~!@#$%^&*()_+|<>?:{}]/;
    var check_kor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

    if(spc && kor){
        if(check_num.test(str) && check_eng.test(str) && check_spc.test(str) && check_kor.test(str)){
            return true;
        }
    }else if(spc && !kor){
        if(check_num.test(str) && check_eng.test(str) && check_spc.test(str)){
            return true;
        }
    }else if(!spc && kor){
        if(check_num.test(str) && check_eng.test(str) && check_kor.test(str)){
            return true;
        }
    }else{
        if(check_num.test(str) && check_eng.test(str)){
            return true;
        }
    }

    return false;
}

function check_form(){
    var data = { 'userid' : document.getElementById('userid').value,
                'username' : document.getElementById('username').value,
                'password1' : document.getElementById('password1').value,
                'password2' : document.getElementById('password2').value
    };
    var msg;
    var valid = false;

    for(var datum in data){
        console.log(">>>>>", datum, "||||", data.datum);
        if(datum=='userid'){
            console.log("!!!!!!!!!!!!!")
            if(char_valid(data.datum, spc=false, kor=false)){
                if(data.datum.length >= 5 && data.datum.length < 13){
                    valid = true;
                }else{
                    msg = "ID는 최소 5자 이상 12자 이하입니다.";
                };
            }else{
                msg = "ID에는 영어와 숫자만 사용이 가능합니다."
            };
        }else if(datum=='username'){
            console.log("@@@@@@@@@@@@")
            if(char_valid(data.datum)){
                if(!data.datum.length){
                    msg = "Username을 입력해주세요."
                }else{
                    valid = true;
                };
            };
        }else if(datum=='password1'){
            console.log("###########")
            if(char_valid(data.datum, kor=false)){
                if(data.datum.length >= 8){
                    valid = true;
                }else{
                    msg = "Password는 최소 8자 이상입니다."
                };
            }else{
                msg = "Password에는 한글을 사용할 수 없습니다."
            };
        }else{
            console.log("$$$$$$$$$$$$$")
            if(data.datum == data['password2']){
                valid = true;
            }else{
                msg = "Password가 같지 않습니다."
            };
        };
    };

    if(!valid){
        alert(msg);
        return valid;
    }else{
        return valid;
    };
}
</script>
{% endblock script %}